<!DOCTYPE html>
<html>
<head>
  <title>Project522</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class=”nav”>
	 <a href="/welcome/home/"> 
	 	<%= image_tag"Sunday_sail_on_Sage_005.jpg", size: "200x150" %></a>
 	<%= link_to 'Tweets', tweets_path %>

</div>

<%= yield %>

</body>
</html>
